Crear archivos de variables de ambiente para mysql y phpmyadmin de la siguiente forma:

DEVELOPMENT ==============

.env.dev.mysql
MYSQL_ROOT_PASSWORD=password

.env.dev.phpmyadmin
PMA_HOST=10.28.0.2
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=password

PRODUCTION ===============

.env.prod.mysql
MYSQL_ROOT_PASSWORD=password

.env.prod.phpmyadmin
PMA_HOST=10.28.0.5
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=password


